<form *ngIf="fichier" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div>
    <div class="modal-header">
      <h4 class="modal-title" data-cy="fichierDeleteDialogHeading">Affecter mot de passe</h4>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
    <div class="modal-body">
      <inetum-alert-error></inetum-alert-error>
      <div class="form-group">
        <label class="form-control-label" inetumTranslate="voucherTtApp.fichier.password" for="field_password">Password</label>
        <input type="password" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
        <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('password')?.errors?.required"
            inetumTranslate="entity.validation.required"
            >This field is required.</small
          >
        </div>
      </div>
      <div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span inetumTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span inetumTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </div>
  </div>
</form>
